@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-y-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.overflow-y-scroll::-webkit-scrollbar {
  display: none;
}